\.swp
^R\.*
\.dex
\.ap_
gen/
bin/
.svn/
.gradle/
.DS_Store
.idea/
library/bin/
library/gen/
release/
release_zipalign/
\.classpath
\.settings
.settings/
local.properties
**/build/
*.iml
/mcLibrary/build
/mcLibrary/obj
captures
/beta
.gradletasknamecache
